/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* banner part */
.banner-section{
    background-color: #264653;
}
.purs-btn{
    background-color: #E76F51;
    color: white;    
}
.orange-text{
    color: #E77C40;
}
.icons{
    color: #E77C40;
}
/* feature part */
.gray-bike{
    filter: grayscale(1)
}
/* bike parts part */
.partches:hover{
    background-color: darkgray;
    color: white;
}